.App {
  text-align: center;
  background-color:#d88429;
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin:auto;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.75);
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

